### 1. Write any 5 Properties of List

In [ ]:
1. Mutable
2. Ordered
3. Allows Duplicates
4. Dynamic Size

### 2. Write any 5 methods of List

In [10]:
## append()
l = [1,3,4,2]
l.append(5)
l

[1, 3, 4, 2, 5]

In [12]:
## sort()
l = [1,3,4,2]
l.sort()
l

[1, 2, 3, 4]

In [18]:
## pop()
l = [1,3,4,2]
l.pop(2)
l

[1, 3, 2]

In [19]:
## remove()
l = [1,3,4,2]
l.remove(2)
l

[1, 3, 4]

In [22]:
## index()
l = [1,3,4,2]
l.index(2)

3

### 3. Create an integer list and add any 5 integers to this list

In [23]:
l = []
l.append(1)
l.append(2)
l.append(3)
l.append(4)
l.append(5)
l

[1, 2, 3, 4, 5]

### 4. Print the integer elements in the above list using for  loop

In [24]:
l = []
for int in range(1,6):
    l.append(int)
l

[1, 2, 3, 4, 5]

### 5. Print the integer elements in the above list using  foreach loop

In [37]:
l = [1, 2, 3, 4, 5]

for int in l:
    print(int,end=', ')

1, 2, 3, 4, 5,

### 6. Create an string list and add any 5 integers to this list

In [27]:
l = []

l.append('1')
l.append('2')
l.append('3')
l.append('4')
l.append('5')
l

['1', '2', '3', '4', '5']

### 7. Print the string elements in the above list using for  loop

In [28]:
l = []
for i in range(1,6):
    l.append(str(i))
l

['1', '2', '3', '4', '5']

### 8. Print the string elements in the above list using  foreach loop

In [40]:
l = ['1', '2', '3', '4', '5']

for i in l:
    print(i, end =', ')

1, 2, 3, 4, 5,

### 9. Count the elements in the list and print

In [44]:
l = ['1', '2', '3', '4', '5']
print(f'Count of elements in the list is: {len(l)}')

Count of elements in the list is: 5

### 10. Clear all the elements in the list using clear method

In [46]:
l = ['1', '2', '3', '4', '5']
l.clear()
l

[]

### 11. Check whether 'Kishore' is present in the string list using exists method

In [47]:
l = ['1', '2', '3', '4', '5']

if 'Kishore' in l:
    print('Kishore is present in the list.')
else:
    print('Kishore is not present in the list.')

Kishore is not present in the list.

### 12. Check whether 'Kishore' is present in the string list using Find  method

In [48]:
l = ['1', '2', '3', '4', '5']
## index() method
try:
    position = l.index('Kishore')
    print(f"Kishore is present in the list at index: {position}")
except ValueError:
    print("Kishore is not present in the list.")

Kishore is not present in the list.

### 13. Check whether 'Kishore' is present in the string list using contains method

In [49]:
l = ['1', '2', '3', '4', '5']

if 'Kishore' in l:
    print('Kishore is present in the list.')
else:
    print('Kishore is not present in the list.')

Kishore is not present in the list.

### 14. Insert  an element into the list using Insert method

In [50]:
l = ['1', '2', '3', '4', '5']

l.insert(2,'6')
l

['1', '2', '6', '3', '4', '5']

### 15. Reverse the list using reverse method

In [51]:
l = ['1', '2', '3', '4', '5']
l.reverse()
l

['5', '4', '3', '2', '1']

### 16. Remove an element at index 3 using RemoveAt method

In [53]:
l = ['1', '2', '3', '4', '5']
l.pop(3)
l

['1', '2', '3', '5']

### 17. Create a list with student class (List that accepts student objects)

In [73]:
class student:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

    def __str__(self):
        return f"student(Name: {self.name}, Age: {self.age}, Gender: {self.gender})"

students = [
    student('Bhavya', 22, 'F'),
    student('Lowkya', 23, 'F'),
    student('Mohan', 24, 'M')
]

for i in students:
    print(i)

student(Name: Bhavya, Age: 22, Gender: F)
student(Name: Lowkya, Age: 23, Gender: F)
student(Name: Mohan, Age: 24, Gender: M)

### 18.  Add 10  Student  objects to the  list

In [75]:
class student:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

    def __str__(self):
        return f"student(Name: {self.name}, Age: {self.age}, Gender: {self.gender})"

students = [
    student('Bhavya', 22, 'F'),
    student('Lowkya', 23, 'F'),
    student('Mohan', 24, 'M'),
    student('Archana', 23, 'F'),
    student('Sita', 22, 'F'),
    student('Ram', 23, 'M'),
    student('Meera', 20, 'F'),
    student('Arjun', 25, 'M'),
    student('Neha', 24, 'F'),
    student('Karan', 23, 'M')
]

for i in students:
    print(i)

student(Name: Bhavya, Age: 22, Gender: F)
student(Name: Lowkya, Age: 23, Gender: F)
student(Name: Mohan, Age: 24, Gender: M)
student(Name: Archana, Age: 23, Gender: F)
student(Name: Sita, Age: 22, Gender: F)
student(Name: Ram, Age: 23, Gender: M)
student(Name: Meera, Age: 20, Gender: F)
student(Name: Arjun, Age: 25, Gender: M)
student(Name: Neha, Age: 24, Gender: F)
student(Name: Karan, Age: 23, Gender: M)

### 19. Count the elements in the list and print

In [76]:
print(f'The number of elements in the list is: {len(students)}')

The number of elements in the list is: 10

### 20. Clear all the elements in the list using clear method

In [77]:
l.clear()
print(f'The number of elements in the list after clearing is: {len(l)}')

The number of elements in the list after clearing is: 0

### 21. Check whether 'Kishore' student is present in the  list using exists method

In [82]:
class student:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

    def __str__(self):
        return f"student(Name: {self.name}, Age: {self.age}, Gender: {self.gender})"

students = [
    student('Bhavya', 22, 'F'),
    student('Lowkya', 23, 'F'),
    student('Mohan', 24, 'M'),
    student('Archana', 23, 'F'),
    student('Sita', 22, 'F'),
    student('Ram', 23, 'M'),
    student('Meera', 20, 'F'),
    student('Arjun', 25, 'M'),
    student('Neha', 24, 'F'),
    student('Karan', 23, 'M')
]
found = False
for i in students:
    if i.name == 'Kishore':
        found = True
        break
if found:
    print('Kishore is present in the list.')
else:
    print('Kishore is not present in the list.')

Kishore is not present in the list.

### 22. Check whether 'Kishore'  student is present in the  list using Find  method

In [83]:
class student:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

students = [
    student('Bhavya', 22, 'F'),
    student('Lowkya', 23, 'F'),
    student('Mohan', 24, 'M'),
    student('Archana', 23, 'F'),
    student('Sita', 22, 'F'),
    student('Ram', 23, 'M'),
    student('Meera', 20, 'F'),
    student('Arjun', 25, 'M'),
    student('Neha', 24, 'F'),
    student('Karan', 23, 'M')
]

# Check if 'Kishore' is in the list
if any(self.name == 'Kishore' for self in students):
    print('Kishore is present in the list.')
else:
    print('Kishore is not present in the list.')

Kishore is not present in the list.

### 23. Check whether 'Kishore'  student  is present in the  list using contains method

In [84]:
is_present = any(self.name == 'Kishore' for self in students)

if is_present:
    print('Kishore is present in the list.')
else:
    print('Kishore is not present in the list.')

Kishore is not present in the list.

### 24. Insert  an student object  into the list using Insert method

In [88]:
class student:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    def __str__(self):
        return f"student(Name: {self.name}, Age: {self.age}, Gender: {self.gender})"


students = [
    student('Bhavya', 22, 'F'),
    student('Lowkya', 23, 'F'),
    student('Mohan', 24, 'M'),
    student('Archana', 23, 'F'),
    student('Sita', 22, 'F'),
    student('Ram', 23, 'M'),
    student('Meera', 20, 'F'),
    student('Arjun', 25, 'M'),
    student('Neha', 24, 'F'),
    student('Karan', 23, 'M')
]
new_student = student('Vishali', 25, 'F')

students.insert(6, new_student)

for i in students:
    print(i)

student(Name: Bhavya, Age: 22, Gender: F)
student(Name: Lowkya, Age: 23, Gender: F)
student(Name: Mohan, Age: 24, Gender: M)
student(Name: Archana, Age: 23, Gender: F)
student(Name: Sita, Age: 22, Gender: F)
student(Name: Ram, Age: 23, Gender: M)
student(Name: Vishali, Age: 25, Gender: F)
student(Name: Meera, Age: 20, Gender: F)
student(Name: Arjun, Age: 25, Gender: M)
student(Name: Neha, Age: 24, Gender: F)
student(Name: Karan, Age: 23, Gender: M)