##  Create a list of employee objects with properties EmpId,EmpName,EmpSalary and DeptId add 10 employee objects to the above list  
  
> Note:   
> Create objects with at least two objects having same property values  
> ie Two objects should have  empname="kishore" (or  any same value)  
> ie Two objects should have  deptid =2 (or  any same value)  
> ie Two objects should have  empsalary=1000 (or  any same value)

In [2]:
class Employee:
    def __init__(self,emp_id, emp_name, emp_salary, dept_id):
        self.emp_id = emp_id
        self.emp_name = emp_name
        self.emp_salary = emp_salary
        self.dept_id = dept_id
    def __str__(self):
        return f"Employee(EmpId = {self.emp_id}, EmpName = '{self.emp_name}', EmpSalary = {self.emp_salary}, DeptId = {self.dept_id})"

employees = []

employees.append(Employee(1, 'Bhavya', 1500, 1))
employees.append(Employee(2, 'Lowkya', 2000, 2))
employees.append(Employee(3, 'Archana', 3000, 3))
employees.append(Employee(4, 'Vishali', 2500, 2))
employees.append(Employee(5, 'Mohan', 1000, 4))
employees.append(Employee(6, 'Gopal', 3500, 5))
employees.append(Employee(7, 'Kiran', 1800, 1))
employees.append(Employee(8, 'Praveen', 1000, 3))
employees.append(Employee(9, 'Ram', 4000, 6))
employees.append(Employee(10, 'Kishore', 2200, 7))

for i in employees:
    print(i)

Employee(EmpId = 1, EmpName = 'Bhavya', EmpSalary = 1500, DeptId = 1)
Employee(EmpId = 2, EmpName = 'Lowkya', EmpSalary = 2000, DeptId = 2)
Employee(EmpId = 3, EmpName = 'Archana', EmpSalary = 3000, DeptId = 3)
Employee(EmpId = 4, EmpName = 'Vishali', EmpSalary = 2500, DeptId = 2)
Employee(EmpId = 5, EmpName = 'Mohan', EmpSalary = 1000, DeptId = 4)
Employee(EmpId = 6, EmpName = 'Gopal', EmpSalary = 3500, DeptId = 5)
Employee(EmpId = 7, EmpName = 'Kiran', EmpSalary = 1800, DeptId = 1)
Employee(EmpId = 8, EmpName = 'Praveen', EmpSalary = 1000, DeptId = 3)
Employee(EmpId = 9, EmpName = 'Ram', EmpSalary = 4000, DeptId = 6)
Employee(EmpId = 10, EmpName = 'Kishore', EmpSalary = 2200, DeptId = 7)

### Questions

### 1. Check whether 'Kishore' employee is present in the  list using select method with lambda expression.   and print the empid, empname, empsal and deptid of the employee object print distinct objects not distinct names

In [6]:
kishore_emp = list(filter(lambda emp:emp.emp_name == 'Kishore',employees))

for emp in kishore_emp:
    print(f'EmpId: {emp.emp_id},\nEmpName: {emp.emp_name}, \nEmpSAlary: {emp.emp_salary}, \nDeptId: {emp.dept_id}')

EmpId: 10,
EmpName: Kishore,
EmpSAlary: 2200,
DeptId: 7

### 2. Check whether empid =4 employee is present in the  list using select method with lambda mmexpression. and print the empid, empname, empsal and deptid of the employee object print distinct objects not distinct names

In [8]:
# Use filter() with lambda to select employee with EmpId 4
emp_id_4 = list(filter(lambda emp: emp.emp_id == 4, employees))

# Print details of the employee with EmpId 4
for emp in emp_id_4:
    print(f"EmpId: {emp.emp_id}, \nEmpName: {emp.emp_name}, \nEmpSalary: {emp.emp_salary}, \nDeptId: {emp.dept_id}")

EmpId: 4,
EmpName: Vishali,
EmpSalary: 2500,
DeptId: 2

### 3. Check whether deptid=4 employee is present in the  list using select method with lambda expression. and print the empid, empname, empsal and deptid of the employee object print distinct objects not distinct names

In [9]:
dept_id_4 = list(filter(lambda emp: emp.dept_id == 4, employees))

for emp in dept_id_4:
    print(f"EmpId: {emp.emp_id}, \nEmpName: {emp.emp_name}, \nEmpSalary: {emp.emp_salary}, \nDeptId: {emp.dept_id}")

EmpId: 5,
EmpName: Mohan,
EmpSalary: 1000,
DeptId: 4

### 4. Create another employee list and copy the above list to this newly created employee list

In [11]:
new_emp_list = employees.copy()

for emp in new_emp_list:
    print(f"EmpId: {emp.emp_id}, EmpName: {emp.emp_name}, EmpSalary: {emp.emp_salary}, DeptId: {emp.dept_id}")

EmpId: 1, EmpName: Bhavya, EmpSalary: 1500, DeptId: 1
EmpId: 2, EmpName: Lowkya, EmpSalary: 2000, DeptId: 2
EmpId: 3, EmpName: Archana, EmpSalary: 3000, DeptId: 3
EmpId: 4, EmpName: Vishali, EmpSalary: 2500, DeptId: 2
EmpId: 5, EmpName: Mohan, EmpSalary: 1000, DeptId: 4
EmpId: 6, EmpName: Gopal, EmpSalary: 3500, DeptId: 5
EmpId: 7, EmpName: Kiran, EmpSalary: 1800, DeptId: 1
EmpId: 8, EmpName: Praveen, EmpSalary: 1000, DeptId: 3
EmpId: 9, EmpName: Ram, EmpSalary: 4000, DeptId: 6
EmpId: 10, EmpName: Kishore, EmpSalary: 2200, DeptId: 7

### 5. Create another employee list and copy the above list with empname having Kishore and print this list  
> Note: The new list should contain only employee objects with name Kishore

In [13]:
kishore_list = list(filter(lambda emp: emp.emp_name == "Kishore", employees))

for emp in kishore_list:
    print(f"EmpId: {emp.emp_id}, \nEmpName: {emp.emp_name}, \nEmpSalary: {emp.emp_salary}, \nDeptId: {emp.dept_id}")

EmpId: 10,
EmpName: Kishore,
EmpSalary: 2200,
DeptId: 7

### 6. Create another employee list and copy the above list with empsalary having greater than 2000 and print this list count and list   
>Note: The new list should contain only employee objects with empsalary >2000

In [15]:
salary_2k = list(filter(lambda emp: emp.emp_salary > 2000, employees))

for emp in salary_2k:
    print(f"EmpId: {emp.emp_id}, EmpName: {emp.emp_name}, EmpSalary: {emp.emp_salary}, DeptId: {emp.dept_id}")

EmpId: 3, EmpName: Archana, EmpSalary: 3000, DeptId: 3
EmpId: 4, EmpName: Vishali, EmpSalary: 2500, DeptId: 2
EmpId: 6, EmpName: Gopal, EmpSalary: 3500, DeptId: 5
EmpId: 9, EmpName: Ram, EmpSalary: 4000, DeptId: 6
EmpId: 10, EmpName: Kishore, EmpSalary: 2200, DeptId: 7

### 7. Check whether deptid=4 employee is present in the  list using select method with lambda expression. and print the empid, empname, empsal and deptid of the employee object

In [18]:
dept_id_4 = list(filter(lambda emp: emp.dept_id == 4, employees))

for emp in dept_id_4:
    print(f"EmpId: {emp.emp_id}, \nEmpName: {emp.emp_name}, \nEmpSalary: {emp.emp_salary}, \nDeptId: {emp.dept_id}")

EmpId: 5,
EmpName: Mohan,
EmpSalary: 1000,
DeptId: 4

### 8. Check whether deptid=4 employee is present in the  list using contains method with lambda expression. and print the empid, empname, empsal and deptid of the employee object

In [20]:
dept_id_4 = list(filter(lambda emp: emp.dept_id == 4, employee_list))

if dept_id_4:
    for emp in dept_id_4:
        print(f"EmpId: {emp.emp_id}, \nEmpName: {emp.emp_name}, \nEmpSalary: {emp.emp_salary}, \nDeptId: {emp.dept_id}")
else:
    print("No employee found with DeptId 4.")

EmpId: 5,
EmpName: Eve,
EmpSalary: 1000,
DeptId: 4

### 9. Print the distinct employee name count in the  list using Distinct method with lambda expression. and print the empid, empname, empsal and deptid of the employee objects

In [21]:
distinct_names = set(map(lambda emp: emp.emp_name, employees))

print(f"Distinct employee name count: {len(distinct_names)}")

for emp in employees:
    print(f"EmpId: {emp.emp_id}, EmpName: {emp.emp_name}, EmpSalary: {emp.emp_salary}, DeptId: {emp.dept_id}")

Distinct employee name count: 10
EmpId: 1, EmpName: Bhavya, EmpSalary: 1500, DeptId: 1
EmpId: 2, EmpName: Lowkya, EmpSalary: 2000, DeptId: 2
EmpId: 3, EmpName: Archana, EmpSalary: 3000, DeptId: 3
EmpId: 4, EmpName: Vishali, EmpSalary: 2500, DeptId: 2
EmpId: 5, EmpName: Mohan, EmpSalary: 1000, DeptId: 4
EmpId: 6, EmpName: Gopal, EmpSalary: 3500, DeptId: 5
EmpId: 7, EmpName: Kiran, EmpSalary: 1800, DeptId: 1
EmpId: 8, EmpName: Praveen, EmpSalary: 1000, DeptId: 3
EmpId: 9, EmpName: Ram, EmpSalary: 4000, DeptId: 6
EmpId: 10, EmpName: Kishore, EmpSalary: 2200, DeptId: 7

### 10. Create an integer array with 5 elements and convert this integer array into integer list using ToList()

In [22]:
int_array = [1,2,3,4,5]
arr_list = list(int_array) ## converting array to list
print(arr_list)

[1, 2, 3, 4, 5]

### 11. Get the first employee in the employee list using First() method

In [23]:
first_emp = employees[0]
print(f"EmpId: {first_emp.emp_id}, \nEmpName: {first_emp.emp_name}, \nEmpSalary: {first_emp.emp_salary}, \nDeptId: {first_emp.dept_id}")

EmpId: 1,
EmpName: Bhavya,
EmpSalary: 1500,
DeptId: 1

### 12. Get the first employee in the employee list using FirstOrDefault() method

In [24]:
first_emp = list(filter(lambda emp: emp.emp_name == "Bhavya", employees))

for emp in first_emp:
    print(f"EmpId: {emp.emp_id}, \nEmpName: {emp.emp_name}, \nEmpSalary: {emp.emp_salary}, \nDeptId: {emp.dept_id}")

EmpId: 1,
EmpName: Bhavya,
EmpSalary: 1500,
DeptId: 1

### 13. Get the first employee in the employee list using Single() method

In [25]:
first_emp = list(filter(lambda emp: emp.emp_salary == 1500, employees))

for emp in first_emp:
    print(f"EmpId: {emp.emp_id}, \nEmpName: {emp.emp_name}, \nEmpSalary: {emp.emp_salary}, \nDeptId: {emp.dept_id}")

EmpId: 1,
EmpName: Bhavya,
EmpSalary: 1500,
DeptId: 1

### 14. Get the first employee in the employee list using SingleOrDefault() method

In [26]:
first_emp = employees[0]
print(f"EmpId: {first_emp.emp_id}, \nEmpName: {first_emp.emp_name}, \nEmpSalary: {first_emp.emp_salary}, \nDeptId: {first_emp.dept_id}")

EmpId: 1,
EmpName: Bhavya,
EmpSalary: 1500,
DeptId: 1

### 15. Sort the employee list by EmpID using OrderBy() method

In [27]:
sorted_employees = sorted(employees, key=lambda emp: emp.emp_id)
# employees.sort(key=lambda emp: emp.emp_id)

for employee in sorted_employees:
    print(employee)

Employee(EmpId = 1, EmpName = 'Bhavya', EmpSalary = 1500, DeptId = 1)
Employee(EmpId = 2, EmpName = 'Lowkya', EmpSalary = 2000, DeptId = 2)
Employee(EmpId = 3, EmpName = 'Archana', EmpSalary = 3000, DeptId = 3)
Employee(EmpId = 4, EmpName = 'Vishali', EmpSalary = 2500, DeptId = 2)
Employee(EmpId = 5, EmpName = 'Mohan', EmpSalary = 1000, DeptId = 4)
Employee(EmpId = 6, EmpName = 'Gopal', EmpSalary = 3500, DeptId = 5)
Employee(EmpId = 7, EmpName = 'Kiran', EmpSalary = 1800, DeptId = 1)
Employee(EmpId = 8, EmpName = 'Praveen', EmpSalary = 1000, DeptId = 3)
Employee(EmpId = 9, EmpName = 'Ram', EmpSalary = 4000, DeptId = 6)
Employee(EmpId = 10, EmpName = 'Kishore', EmpSalary = 2200, DeptId = 7)

### 16. Sort the employee list by EmpName using OrderBy() method

In [33]:
sorted_employees = employees.sort(key = lambda emp: (emp.emp_name))

for i in employees:
    print(i)

Employee(EmpId = 3, EmpName = 'Archana', EmpSalary = 3000, DeptId = 3)
Employee(EmpId = 1, EmpName = 'Bhavya', EmpSalary = 1500, DeptId = 1)
Employee(EmpId = 6, EmpName = 'Gopal', EmpSalary = 3500, DeptId = 5)
Employee(EmpId = 7, EmpName = 'Kiran', EmpSalary = 1800, DeptId = 1)
Employee(EmpId = 10, EmpName = 'Kishore', EmpSalary = 2200, DeptId = 7)
Employee(EmpId = 2, EmpName = 'Lowkya', EmpSalary = 2000, DeptId = 2)
Employee(EmpId = 5, EmpName = 'Mohan', EmpSalary = 1000, DeptId = 4)
Employee(EmpId = 8, EmpName = 'Praveen', EmpSalary = 1000, DeptId = 3)
Employee(EmpId = 9, EmpName = 'Ram', EmpSalary = 4000, DeptId = 6)
Employee(EmpId = 4, EmpName = 'Vishali', EmpSalary = 2500, DeptId = 2)

### 17. Sort the employee list by EmpName and then reverse by empid using Sort() method

In [30]:
employees.sort(key = lambda emp: (emp.emp_name, -emp.emp_id))

for i in employees:
    print(i)

Employee(EmpId = 3, EmpName = 'Archana', EmpSalary = 3000, DeptId = 3)
Employee(EmpId = 1, EmpName = 'Bhavya', EmpSalary = 1500, DeptId = 1)
Employee(EmpId = 6, EmpName = 'Gopal', EmpSalary = 3500, DeptId = 5)
Employee(EmpId = 7, EmpName = 'Kiran', EmpSalary = 1800, DeptId = 1)
Employee(EmpId = 10, EmpName = 'Kishore', EmpSalary = 2200, DeptId = 7)
Employee(EmpId = 2, EmpName = 'Lowkya', EmpSalary = 2000, DeptId = 2)
Employee(EmpId = 5, EmpName = 'Mohan', EmpSalary = 1000, DeptId = 4)
Employee(EmpId = 8, EmpName = 'Praveen', EmpSalary = 1000, DeptId = 3)
Employee(EmpId = 9, EmpName = 'Ram', EmpSalary = 4000, DeptId = 6)
Employee(EmpId = 4, EmpName = 'Vishali', EmpSalary = 2500, DeptId = 2)